In [1]:
import pandas as pd

polite_data  = pd.read_csv('../data/polite-peer/PolitenessTone-COMBINED.csv')

In [3]:
polite_data['review'].describe()

count                  2499
unique                 2478
top       No more comments.
freq                      3
Name: review, dtype: object

In [11]:

len(polite_data['review'][2495].split())

7

In [7]:
lengths = pd.DataFrame([ len(str(x).split(' ')) for x in polite_data['review']  ])

lengths

       0
0     20
1     33
2     37
3     37
4     12
...   ..
2495   7
2496  47
2497  54
2498  38
2499  70

[2500 rows x 1 columns]

In [5]:
lengths.describe()

                 0
count  2500.000000
mean     21.422400
std      14.154806
min       1.000000
25%      12.000000
50%      18.000000
75%      27.000000
max      93.000000

In [13]:
len(polite_data['Review ID'].unique())

503